/* Variables */
$fontSize100: 100px;
$fontSize80: 80px;
$fontSize30: 30px;
$fontSize20: 20px;

$colorRojo: rgb(128, 0, 0);
$colorVerde: rgba(0, 119, 128, 0.993);
$colorAmarilloFuerte: rgb(186,206,3);
$colorVerdeOrscuro:rgb(133,175,76);
$colorDarkModerateOrange:rgb(175,116,76);
$colorDarkModerateLimeGreen: rgb(84,175,76);
$colorNegro: rgb(0,0,0);
$colorAzul: rgb(0,0,255);
$colorAmarillo:rgb(255,255,0);
$colorLightGrayishBlue: rgb(203, 219, 248);


$fontWeighBold: bold; 
$fontWeighBolder: bolder; 

$fontFamily: 'BlueSignature';
