
@import "variables";
@import "reset";
@import "fonts";
@import "minxins";

/* Selector universal */

.centrar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

 .centrar.principal{
    font-family: $fontFamily;
 }

 .div {
    color:  $colorRojo;
 }

 .button {
    border: none;
    color: colorNegro;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
}

.button.verde{
    background-color: $colorDarkModerateLimeGreen;
}

.button.rojo{
    background-color: $colorDarkModerateOrange;
}


.logos{
    display: flex;
    justify-content: center;
}

#tabla{
    border: 1px solid $colorAzul;
    border-collapse: collapse;
    width: 50%;
    tr {
        text-align: left;
        width: 100%;
        font-size: 25px;
    }
}

.dimension{
    @include tamano(300px,300px);
}

.dimensionSabores{
    @extend .dimension;
}

.dimensionDelicias{
    @extend .dimension;
}

.box1 {
    display: inline-block;
    background-color: $colorLightGrayishBlue;
    @include tamano(350px,350px);
    border-width: 1px;
    padding-left: 10px;
    padding: 10px 30px;
    overflow: scroll;
    box-sizing: border-box;
    margin: 10px 20px;
}


.dimensionHistoria{
    @extend .dimension;
    display: inline-block;
    background-color: $colorLightGrayishBlue;
    @include tamano(300px,300px);
    overflow-y: scroll;
    margin: 10px 20px;
}


.dimensionFooter{
    @extend .dimension;
    @include tamano(50px,50px);
}

.dimensionComunicacion{
    @extend .dimension;
    @include tamano(50px,50px);
}

.dimensionSucursal{
    @extend .dimension;
    @include tamano(600px,450px);
    border-style: none;
}

.dimensionIndex{
    @extend .dimension;
    @extend .dimensionSucursal;
}

.degrade{
    background-color:$colorAmarilloFuerte;
    list-style:none;
    background-image: linear-gradient($colorAmarilloFuerte, $colorAmarillo);
}

.linkpagina{
    color: $colorNegro;
    font-weight: $fontWeighBold;
    font-size: $fontSize20;
}


.cargar {
    --s: 10px;
    height: calc(var(--s)*0.9);
    width: calc(var(--s)*5);
   --v1:transparent,#000 0.5deg 108deg,#0000 109deg;
   --v2:transparent,#000 0.5deg  36deg,#0000  37deg;
   --webkit-mask:
     conic-gradient(from 54deg  at calc(var(--s)*0.68) calc(var(--s)*0.57),var(--v1)),
     conic-gradient(from 90deg  at calc(var(--s)*0.02) calc(var(--s)*0.35),var(--v2)),
     conic-gradient(from 126deg at calc(var(--s)*0.5)  calc(var(--s)*0.7) ,var(--v1)),
     conic-gradient(from 162deg at calc(var(--s)*0.5)  0                  ,var(--v2));
   --webkit-mask-size: var(--s) var(--s);
   --webkit-mask-composite: xor,destination-over;
           mask-composite: exclude,add;
   --webkit-mask-repeat:repeat-x;
   background:linear-gradient(#ffb940 0 0) left/0% 100% #ddd no-repeat;
   animation: l20 2s infinite linear;
 }
 @keyframes l20 {
     90%,100% {background-size:100% 100%}
 }

@import "bucles";